@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Young+Serif&display=swap');

@font-face {
    font-family: 'American Captain';
    src: url('../src/fonts/american_captain/American\ Captain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}